<h1>Hubs test</h1>


<div *ngIf="!activeConnection(); else connected">
    <input placeholder="display name" #displayName />
    <button (click)="connectToHub(displayName.value)">connect to general hub</button>
</div>

<ng-template #connected>
    <div>
        <h3>available rooms</h3>
        <div>
            <div *ngFor="let room of rooms()">
                <label>{{room.name}}</label>
                <div *ngIf="room.isParticipant; else joinInRoom">
                    <input #msgText />
                    <button (click)="sendToRoom(room.id, msgText.value)">send</button>
                </div>
                <ng-template #joinInRoom>
                    <button (click)="join(room.id)">join</button>
                </ng-template>
            </div>
        </div>

        <div>
            <input placeholder="room name" #roomName />
            <button (click)="createRoomAndJoin(roomName.value)">create and join</button>
        </div>
    </div>

    <br />
    <button (click)="sendToAll()">test send</button>
</ng-template>